<header>

    
    <p class="borderlessheader">
        
        {{#if username }}
            Welcome <em>{{username}}</em>!   
            |  <a href="/profile">Profile</a>
            |  <a href="/logout">Logout</a>
        {{else}}
            myaccount: <a href="/login">login</a>
        {{/if}}
    </p>
    <p class="borderlessheaderCategory">
        
        <a href="/category"> <font color = "white">SampleCat|</font></a>
    
    
    </p>

    
    <!--<img width="100%" src="/images/TechProfBanner.png" alt="TechProf Banner" />-->
</header>