<!DOCTYPE html>
<html>
<head>
    <title>CAP805 winter 2023 Demo</title>
    <link rel="stylesheet" href="/css/theme.css" />
</head>
<body>
    <div class="container"> 
        <!-- HEADER --> 
        {{> header user}}

        <!-- Content --> 
        <div class="contentContainer">
            <h1>CAP805 w2023 About</h1>
            <p>This is some content.</p>
        </div>

        <!-- footer -->
        {{> footer user}}
    </div>
</body>
</html>
