/* Global styles */

  

body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    background-color:greenyellow;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Profile header */
  header {
    
   
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  
  
  header button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
 
  
  /* Profile information */
  info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  

  /* Profile activity */
 
  
  
  
  /* Profile footer */
footer {
    font-size: small;
  }

footer {
    text-align: center;
    color: #999;
} 
  
  
  